<div class="col-xs-3 sidebar collection-sidebar">
  {% if settings.display_sidebar_categories %}
  <div class="widget sidebar-links">
    <div class="widget-title">
      <h3>
        {% if settings.enable_multilang %}
          <span class="lang1">{{ settings.sidebar_categories_title | split: '|' | first }}</span>
          <span class="lang2">{{ settings.sidebar_categories_title | split: '|' | last }}</span>
        {% else %}
          <span>{{ settings.sidebar_categories_title | split: '|' | first }}</span>
        {% endif %}
      </h3>
    </div>
    <div class="widget-content">
      <ul>
        {% if settings.style_categories == 'style_show_all' %}
          {% for category in collections %}
          <li>
            <a href="{{ category.url }}" {% if collection.handle == category.handle %}class="active"{% endif %}>
              {% if settings.enable_multilang %}
                <span class="lang1">{{ category.title | split: '|' | first }}</span>
                <span class="lang2">{{ category.title | split: '|' | last }}</span>
              {% else %}
              	<span>{{ category.title | split: '|' | first }}</span>
              {% endif %}
            </a>
          </li>     
          {% endfor %}
          {% else %}

          {% assign items = settings.categories_items | split:"," | strip | downcase %}
          {% for category in collections %}
          {% assign cat = category.title | downcase %}
          {% if items contains cat %}
          <li>
            <a href="{{ category.url }}" {% if collection.handle == category.handle %}class="active"{% endif %}>
              {% if settings.enable_multilang %}
                <span class="lang1">{{ category.title | split: '|' | first }}</span>
                <span class="lang2">{{ category.title | split: '|' | last }}</span>
              {% else %}
              	<span>{{ category.title | split: '|' | first }}</span>
              {% endif %}
            </a>
          </li>     
          {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
  {% endif %}
  
  
  {% include 'collection-sidebar-shop-by-blocks' %}
  
  {% if settings.show_featured_product %}
  {% include 'collection-sidebar-featured-products' %}
  {% endif %}
  
  {% if settings.display_banner_sidebar %}
  {% include 'collection-sidebar-banner-block' %}
  {% endif %}
  
  {% if settings.display_sidebar_custom %}
  {% include 'collection-sidebar-custom-cms-block' %}
  {% endif %}
  
</div>